* {
  margin: 0;
  padding: 0;

}

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.t1 {
  position: absolute;
  top: 1%;
  left: 1%;
  color: gray;
  font-size: 30px;
  font-family: bold;
}

.t2 {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-45%, -48%);
  color: #cd5c5c;
  font-family: serif;
  font-size: 40px;
  text-decoration: underline;
}

.form {
  position: absolute;
  top: 22%;
  left: 5%;
  border: 5px solid black;
  padding: 40px 40px;
  transform: translate(-0%, -0%);
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.bn {
  position: absolute;
  top: 5%;
  left: 90%;
  font-size: 30px;
  border: 5px solid transparent;
  background: lightslategray;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}